<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HelloWorld</title>
</head>
<body>
<h1>10 famous inspirational quotes</h1>
<h3>
  1. "The best way to find out if you can trust somebody is to trust them." - Ernest Hemingway
  <br>
  2. "The only way to do great work is to love what you do." - Steve Jobs
  <br>
  3. "If you want to live a happy life, tie it to a goal, not to people or things." - Albert Einstein
  <br>
  4. "If you can't handle me at my worst, then you sure as hell don't deserve me at my best." - Marilyn Monroe
  <br>
  5. "I can't change the direction of the wind, but I can adjust my sails to always reach my destination." - Jimmy Dean
  <br>
  6. "The only Limit to our realization of tomorrow will be our doubts of today." - Franklin D. Roosevelt
  <br>
  7. "Don't let yesterday take up too much of today." - Will Rogers
  <br>
  8. "It is never too late to be what you might have been." - George Eliot
  <br>
  9. "Don't walk in front of me; I may not follow. Don't walk behind me; I may not lead. Walk beside me; just be my friend." - Albert Camus
  <br>
  10. "I can accept failure, everyone fails at something. But I can't accept not trying." - Michael Jordan
  <br>
</h3>
<br>
<a href="/">Home</a>
</body>
</html>